<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template Engine Demo</title>
</head>
<body>
    <h2>Templating engine ejs</h2>
    <b>Developer : </b><%= name %>
    <hr>
    <b>Others : </b>
    <p><b>Company : <%= data.company %></b></p>
    <p><b>Location : <%= data.location %></b></p>
    <%- include("partials/common.ejs") %>
</body>
</html>