<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demo Template Engine</title>
</head>
<body>
    <h2>Demo on hapi js template engine</h2>
    <b>Developer :</b> <%=  name %>
    <p><b>Location : </b><%= age %></p>
    <%- include('partials/common.ejs') %>
</body>
</html>